Django==4.2.7
psycopg2-binary==2.9.7
python-decouple==3.8
requests==2.31.0
python-telegram-bot==20.7
google-generativeai>=0.8.3
pillow
django-allauth
PyJWT
cryptography
gunicorn
whitenoise
celery==5.3.4
redis==5.0.1
dj-database-url==2.1.0